body{
    font-family: 'Times New Roman';
    font-size: 150%;
}

header{
    background-color:cadetblue;
}

nav{
    background-color:tan;
}

main{
    background-color: bisque;
}

footer{
    background-color: teal;
}

li{
    display: inline;
    width: 50px;
}
 
h1{
    font-family:'Gill Sans';
    text-align: center;
    color: lightsalmon;
}

p{
    line-height: normal;
}